h2
    color: white

.show
    color: white
    text-align: center

    .backButton
        display: inline-block
        margin: 20px 0
        width: 100%

    .detailbox
        border: solid 1px gray
        border-radius: 5px 5px 5px 5px
        column-gap: 20px
        display: grid
        grid-template-columns: 35% auto
        padding: 10px
        text-align: left
    
    .poster
        width: 300px

    button 
        float: left

    .genres
        font-style: italic
        padding: 10px 0
    
    .poster
        text-align: center